/* Style de base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #e7e5df;
}

.logo {
    display:grid;
    float: right; /* Aligner le logo à droite*/
    max-width: 150px; /* Taille maximale du logo */
    height: auto;
}

.logo img {
    width: 100%;
    height: auto; 
}
/* Barre de navigation */
.navbar {
    overflow: hidden;
    background-color: #e7e5df; /* couleur  arriére*/ 
    margin-bottom: 30px;
    
}

.navbar a {
    float: left;
    display: block;
    color: #5b340a;  
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold; 

}

.navbar a:hover {
    background-color: #413232;
    color: rgb(232, 230, 230);    

}



p{
    font-size: 13px; 
    font-family: 'Arial', sans-serif;
    color: #202020; 
    font-weight: bold; 
    font-style:italic;
    
}   


h1{ 
    font-family: 'Lobster';
    font-size: 50px; 
    color: #5b340a; 
    font-style:italic;
    text-align: center;
}

h4{
    font-size: 15px; 
    color: #C25700; 
    font-style:italic;
    line-height: 0.0;
}

h2{ font-family: 'Montserrat Classic';
    font-size: 25px; 
    color: #C25700; 
    text-align: center;
    line-height: 1;
}

.main {
    background-color: #e7e5df;
    color: rgb(247, 247, 247);
    text-align: center;
    padding: 10px;
   
}

.centered-container {
    display: inline-block;
    background-color: #d1c5b9; /* Couleur de fond centralisée */
    color: rgb(9, 9, 9);
    padding: 50px; 
}

.main img {
    width: 80%;
    max-width: 100px;
    height: auto;
}

/* Tableau des spécialités */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ombre portée pour un effet de profondeur */
    background-color: #d1c5b9; 
}

table, th, td {
    border: 5px solid #ddd;
}

th {
    background-color: #f9f9f9;
    color: #333; 
    font-weight: bold; 
}

th, td {
    text-align: center;
    padding: 8px;
}


/* Styles spécifiques pour les sections */
.column {
    flex: 33.33%;
    padding: 15px;
}

.row {
    display: flex;
}
